<h1>Buy Your Banker a Present</h1>

<div class="col-md-4">
  <%= form_tag("/", method: "get", role: "form", class: "user_input") do %>
    <div class="form-group">
      <%= label_tag :present_value, "Current Retirement Savings" %>
      <%= number_field_tag :present_value, nil, class: "form-control", required: true %><br>
    </div>

    <div class="form-group">
      <%= label_tag :pmt, "Monthly Contributions" %>
      <%= number_field_tag  :pmt, nil, class: "form-control", required: true %><br>
    </div>

    <div class="form-group">
      <%= label_tag :age, "How Old Are You?" %>
      <%= number_field_tag :age, nil, class: "form-control", id: "age", required: true %><br>
    </div>

    <div class="form-group">
      <%= label_tag :expense_ratio, "What is the expense ratio for your portfolio?" %>
      <%= text_field_tag :expense_ratio, nil, class: "form-control"  %><br>
    </div>

    <%= submit_tag "What are you buying your broker?", id: "submit", class: "btn btn-primary btn-lg btn-block" %>
  <% end %>
</div>

<div class="ripoff col-md-6">
  <div class="monopoly_man"></div>
<!--   <div class="toliet_paper"></div>
  <div class="gold_backpack"></div>
  <div class="toliet"></div>
  <div class="vacuum"></div>
  <div class="whac_a_mole"></div>
  <div class="headset"></div>
  <div class="hovercraft"></div>
  <div class="robot"></div>
   -->
   <!-- <div class="robot"></div> -->
</div> 
