<h1>Buy Your Banker a Present</h1>

<div class="col-md-4">
  <%= form_tag(funds_path, method: "post", remote: true) do %>
    <div class="form-group">
      <%= label_tag :present_value, "Current Retirement Savings" %>
      <%= text_field_tag :present_value, nil, class: "form-control" %><br>
    </div>

    <div class="form-group">
      <%= label_tag :pmt, "Monthly Contributions" %>
      <%= text_field_tag  :pmt, nil, class: "form-control" %><br>
    </div>

    <div class="form-group">
      <%= label_tag :age, "How Old Are You?" %>
      <%= text_field_tag :age, nil, class: "form-control", id: "age" %><br>
    </div>

    <div class="form-group">
      <%= label_tag :expense_ratio, "What is the expense ratio for your portfolio?" %>
      <%= text_field_tag :expense_ratio, nil, class: "form-control"  %><br>
    </div>

    <div class="form-group">
      <%= label_tag :fund_ticker, "Fund Ticker" %>
      <%= text_field_tag :fund_ticker, nil, class: "form-control" %><br>
    </div>

    <%= submit_tag "What are you buying your broker?", id: "submit", class: "btn btn-primary btn-lg btn-block" %>
  <% end %>

  <div id="explain-footer">
    <p>We assumed that you would retire at 65 and your portfolio would grow at 8% a year, before expenses. We compared your portfolio against <%= link_to "this one", "https://personal.vanguard.com/us/funds/snapshot?FundId=0695&FundIntExt=INT" %>, which has an expense ratio of 0.17%. Please keep in mind that these numbers are for comparisions sake only and that we are not financial advisors. Happy investing!</p>
    <p>Made with love at the Flatiron School</p>
  </div>
</div>

<div class="ripoff col-md-6">
  <div class="monopoly_man"></div>
<!-- <div class="toliet_paper"></div>
  <div class="gold_backpack"></div>
  <div class="toliet"></div>
  <div class="vacuum"></div>
  <div class="whac_a_mole"></div>
  <div class="headset"></div>
  <div class="hovercraft"></div>
  <div class="robot"></div>
   <div class="robot"></div> -->
</div> 


